
#hero {
    background-image: url("../../../public/assets/img/img-1.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h4 {
    padding-bottom: 15px;
}
#hero h1 {
    color: #008178;
}
#hero p {
    font-size: 1.2rem;
    color: #222;
    font-weight: 600;
}
#hero button {
    background-color: #fff;
    color: #008178;
}