
.container-news {
    height: 60vh;
    background-color: #7cdfce;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title-news {
    font-size: 70px;
    margin-bottom: 20px;
}
.description-news {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}
.input-container {
    width: 50%;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
}
input {
    flex: 8;
    border: none;
    padding-left: 20px;
}
.button-news {
    flex: 1;
    border: none;
    background-color: teal;
    color: white;
}