
.container-product {
  width: 23%;
  position: relative;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
}
.container-product:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
.container-product img {
  width: 100%;
  border-radius: 20px;
}
.container-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
}
.info-product {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3;
  display: block;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  cursor: pointer;
}
.info-product:hover {
  opacity: 1;
}
.des {
  text-align: center;
  padding: 10px 0;
}
.des h5 {
  color: white;
  font-size: 22px;
}
.des h4 {
  padding: 7px;
  font-size: 23px;
  font-weight: 700;
  color: white;
}
.icon-product {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  transition: all 0.5s ease;
}
.icon-product:hover {
  background-color: #e9f5f5;
  transform: scale(1.1);
}
.icon {
  color: #3483fa;
}