
.container-product {
  flex: 1;
  margin: 5px;
  min-width: 280px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: relative;
}
.circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
}
img {
  height: 75%;
  z-index: 2;
}
.info-product {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  cursor: pointer;
}
.info-product:hover {
  opacity: 1;
}
.icon-product {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  transition: all 0.5s ease;
}
.icon-product:hover {
  background-color: #e9f5f5;
  transform: scale(1.1);
}