@import '../../../styles/variables.scss';

/* ================= HEADER ================= */
.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: $box-shadow;
  background: $white;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: $black;
}

.header .logo i {
  color: $peru;
  padding-right: 0.5rem;
}

.header .navbar a {
  font-size: 2rem;
  margin-left: 2rem;
  color: $light-black;
}
.header .navbar a:hover {
  color: $peru;
}

@keyframes fadeIn {
  0% {
    transform: translateY(-4rem) scale(0);
    opacity: 0;
  }
}
