.container_card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#4ba9e9, #4ba9e9 50%, #fff, #fff 50%);
}
.card {
  position: relative;
  width: 700px;
  height: 380px;
  background: black;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.1);
  display: flex;
  overflow: hidden;
}
.card .imgBx {
  position: relative;
  width: 350px;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .imgBx img {
  width: 300px;
  transition: 0.5s ease-in-out;
}
.card:hover .imgBx img {
  transform: rotate(-35deg) translateX(-20px);
}
.card .details {
  position: relative;
  width: 350px;
  height: 100%;
  background: #4ba9e9;
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
}
.card .details::before {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fff;
}
.card .details h3 {
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1em;
}
.card .details h3 span {
  font-size: 0.65em;
  font-weight: 300;
  text-transform: none;
  opacity: 0.85;
}
.card .details h4 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1em;
}
.card .details p {
  color: #fff;
  opacity: 0.85;
  font-size: 0.8em;
}
.card .details .size {
  display: flex;
  gap: 10px;
}
.card .details .size li {
  list-style: none;
  color: #fff;
  font-size: 0.9em;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  opacity: 0.65;
  cursor: pointer;
}
.card .details .size li:hover {
  color: #4ba9e9;
  background: #fff;
  opacity: 1;
}
.card .details .group {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.card .details .group h2 {
  color: #fff;
  font-weight: 600;
  font-size: 2em;
}
.card .details .group h2 sup {
    font-weight: 300;
}
.card .details .group h2 small {
    font-size: 0.75em;
}
.card .details .group a {
    display: inline-flex;
    padding: 10px 25px;
    background: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: #4ba9e9;
}
.card .details .group a:hover {
    // border: 3px solid #fff;
    background: #4ba9e9;
    color: #fff;
    transition: 0.5s ease-in-out;
}
