/* ================= HEADER ================= */
.header {
    width: 100%;
    background-color: #32323a;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
/* ----------- nav ----------- */
.nav {
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__logo,
  .nav__close,
  .nav__toggle {
    color: #fff;
  }
  .nav__logo {
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
    font-weight: 500;
  }
  .nav__logo-img {
    width: 1.5rem;
  }
  .nav__toggle {
    display: inline-flex;
    font-size: 1.25rem;
    cursor: pointer;
  }
  
  @media screen and (max-width: 767px) {
    .nav__menu {
      position: fixed;
      background-color: #fff;
      top: -100%;
      left: 0;
      width: 100%;
      padding: 4rem 0;
      border-radius: 0 0 1.5rem 1.5rem;
      box-shadow: 0 1px 4px hsla(0, 4%, 15%, 0.1);
      transition: 0.4s;
    }
  }
  
  .nav__img {
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-15deg);
  }
  .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
  }
  .nav__link {
    color: #fff;
    font-weight: 500;
    transition: 0.3s;
  }
  .nav__link:hover {
    color: hsl(54, 88%, 51%);
  }
  .nav__close {
    font-size: 2rem;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
  }
  .nav__item a svg{
    font-size: 1.5rem;
  }

  @media screen and (min-width: 767px) {
    body {
      margin: 0;
    }
    .section {
      padding: 6.5rem 0 2rem;
    }
    .nav {
      height: calc(3.5rem + 1.5rem);
      column-gap: 3rem;
    }
    .nav__toggle,
    .nav__close,
    .nav__img {
      display: none;
    }
    .nav__menu {
      margin-left: auto;
    }
    .nav__list {
      flex-direction: row;
      column-gap: 3rem;
    }
    .dark-theme .nav__menu {
      box-shadow: none;
    }
  }
  
  @media screen and (min-width: 992px) {
    .container {
      margin-left: auto;
      margin-right: auto;
    }
    .scrollup {
      right: 3rem;
    }
  }