@import '../../../styles/variables.scss';

.count {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    margin: 0.5rem;
}

.count p {
    display: flex;
    align-items: center;
    font-weight: 600;
    justify-content: center;
    background: white;
}

.count button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.6rem;
    width: 1.6rem;
    background: #4189e626;
    margin-top: 0px;
}