@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* ============= Base ============== */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
}

body {
  margin:  3.5rem 0 0 0;
  background-color: #fff;
  color: hsl(355, 4%, 35%);
}

h1,
h2,
h3,
h4 {
  color: hsl(355, 4%, 15%);
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

/* ================= CSS Class ================= */
.container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.grid {
  display: grid;
}
.main {
  overflow: hidden;
}
.section {
  padding: 4.5rem 0 1rem;
}
.section__title {
  font-size: 1.25rem;
  margin-bottom: 2.5rem;
  text-align: center;
}
