@import '../../styles/variables.scss';

#listProducts {
  text-align: center;
}

#listProducts .pro-container {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  gap: 1.5rem;
  justify-content: center;
}
